@font-face {
  font-family: 'MyriadPro-Reg';
  src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url(../fonts/MyriadPro-Bold.otf);
}
html{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font- family: sans-serif
}
section {
  width: 98%;
  margin: auto;
}
.container {
  margin: 0 auto;
  width: 82%;
  overflow: hidden;
}
.border-bottom {
  border-bottom: 0.4rem dotted #CCCCCC;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-header {
  background-color: #272C2F;
  color: #EEEEEE;
  overflow: hidden;
}
.logo {
  float:left;
  padding: 3rem 0;
  font-family: 'MyriadPro-Reg';
  font-size: 6rem;
}
.nav {
  float: right;
  padding-top: 6rem;
}
.nav span {
  padding: 0 1rem;
}
ul {
  list-style-type: none;
}
ul li {
  float: left;
  font-size: 1.6rem;
}
ul li a {
  text-decoration: none;
  color: #EEEEEE;
}
ul li a:hover {
  color: #00AEEF;
}
h1 {
  color: #333333;
  font-family: 'MyriadPro-Bold';
  font-size: 6rem;
  margin:0;
}
h1 span {
  color:#00bff3;
}
h2 {
  color:#c5c5c5;
  font-family: 'MyriadPro-Reg';
  font-size: 5rem;
  margin:0;
}
.main-title-descr {
  font-family: 'MyriadPro-Reg';
  font-stretch: ultra-expanded;
  font-size: 3.4rem;
  color: #555555;
}
.main-title-descr span {
  font-weight: bold;
}


.card {
  background-color: #00bff3;
  color: #EEEEEE;
  width: 24%;
  height: 35rem;
  padding: 0 2.5rem;
  float: left;
  text-align: center;
  margin: 2rem 0;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(156,156,156,0.81);
}
.card-element {
  margin: 2rem 0;
}
.side-card-paddings {
  margin-left: 7%;
  margin-right: 7%;
}
.card-title{
  font-family: 'MyriadPro-Reg';
  font-size: 4rem;
}
.card-border-bottom {
  border-bottom: 0.2rem dotted #EEEEEE;
}
.card-descr {
  font-family: 'ArialMT';
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.14rem;
}
.card-button {
  background-color: #0076a3;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.8rem;
  box-shadow: inset 0 0 0.5rem #01305b;
}

.section-additional-info-block {
  width: 45%;
  float: left;
}
.section-additional-info-side-border {
  border-right: 0.4rem dotted #CCCCCC;
  box-sizing: border-box;
  padding: 0 2rem;
  height: 42rem;
  float: left;
}
.additional-info-title {
  font-family: 'MyriadPro-Reg';
  color: rgb(124, 124, 124);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.right-nav-panel-additional-info-img-name {
  color: rgb(148, 148, 148);
  margin-bottom: 1rem;
}
.left-nav-panel-item {
  overflow: hidden;
}
.left-nav-panel-item-margin {
  padding: 2.5rem 0;
}
.left-nav-panel-item img {
  float: left;
}
.additional-info-descr {
  font-family: 'ArialMT';
  color: rgb(124, 124, 124);
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  margin: 0 0 0 12rem;
}
.left-nav-panel-text {
  line-height: 1.8rem;
}
.left-nav-panel-name {
  padding: 1rem 0 0;
  font-weight: bolder;
  font-size: 2rem;
}
.left-nav-panel-activity {
  line-height: 0;
  padding-top: 0.6rem;
}
.right-nav-panel {
  margin-left: 5rem;
}
.right-nav-panel-descr {
  margin: 0 auto;
}
.right-nav-panel-link {
  margin: 0;
  padding-top: 1rem;
}
.right-nav-panel-img-descr-one-size img {
  width: 100%;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(156,156,156,0.81);
  margin-bottom: 1.5rem;
}
.blue-link {
color: #00bff3;
}
.blue-link a:hover {
  padding-left: 0.3rem 0 0 0.5rem;
}
.footer {
  border: 0;

}
.copyright {
  font-size: 1.6rem;
  padding: 0;
  margin: auto;
}

@media(max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media(max-width: 600px) {
  html {
    font-size: 5px;
  }
}
